
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title">Sample text of</h4>
    <span>{{vm.books.title}}</span>
</div>
<div class="modal-body" >
    <p align="center"><iframe src="http://docs.google.com/gview?url=http://www.hydronav.com/uploads/case/pdf/Spring%202013.pdf&embedded=true" style="width:100%; height:700px;" frameborder="0">Loading..</iframe></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>
    </button>
</div>
